<h1>
    Om oss
</h1>

<p>
Vi är en asbra hardcorde PVE-guild med en bra medlem. Denna medlem heter Jacob Neatt. <br>
Vi är ett gäng vänner som valt att skapa denna guild i hopp om att kunna blir världsförst på alla bossar i hela jävla spelet.
</p>

<p>
Vår guild är ständigt på jakt efter spelare som inte är helt jävla lost och som kan dra sin egen last så att säga. <br>
Med tanke på att de flesta i vår guild är riktigt jävla bra måste du ha spelat WoW sedan vanilla.</p>
