<h1>
   Välkommen!
</h1>
<p>Vi letar konstant efter nytt folk, nedan har du våra generella krav.</p>
<div class="row toprow">
    <div class="large-6 columns gridgrej topleft">
        <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
        <h3>Tid är dyrbart</h3>
        <p>
            Va inte sen till raiden.
        </p>
    </div>
    <div class="large-6 columns gridgrej topright">
        <i class="fa fa-smile-o fa-5x" aria-hidden="true"></i>
        <h3>Personlighet</h3>
        <p>
            Ha alltid med dig ditt bästa humör!
        </p>
    </div>
</div>
<div class="row">
    <div class="large-6 columns gridgrej botleft">
        <i class="fa fa-headphones fa-5x" aria-hidden="true"></i>
        <h3>Va en bra lyssnare</h3>
        <p>
            Information är värdefullt, lyssna!
        </p>
    </div>
    <div class="large-6 columns gridgrej botright">
        <i class="fa fa-microphone fa-5x" aria-hidden="true"></i>
        <h3>Mikrofon</h3>
        <p>
            Har du något att säga? Prata! Vi bits inte.
        </p>
    </div>
</div>
