<h1>
    Welcome!
</h1>

<h5>
    We are constantly looking for more people. Our general requirements are listed below.
</h5>

<div class="row toprow">
    <div class="large-6 columns gridgrej topleft">
        <i class="fa fa-clock-o fa-5x animated bounceIn" aria-hidden="true"></i>
        <h3>Time is valuable</h3>
        <p>
            Dont be late to the raid.
        </p>
    </div>
    <div class="large-6 columns gridgrej topright">
        <i class="fa fa-smile-o fa-5x animated bounceIn" aria-hidden="true"></i>
        <h3>Personality</h3>
        <p>
            Always bring a good mood!
        </p>
    </div>
</div>
<div class="row">
    <div class="large-6 columns gridgrej botleft">
        <i class="fa fa-headphones fa-5x animated bounceIn" aria-hidden="true"></i>
        <h3>Be a good listener</h3>
        <p>
            Information is useful, listen!
        </p>
    </div>
    <div class="large-6 columns gridgrej botright">
        <i class="fa fa-microphone fa-5x animated bounceIn" aria-hidden="true"></i>
        <h3>Microphone</h3>
        <p>
            Got something to say? Talk! We don't bite.
        </p>
    </div>
</div>

<div class="row" id="go-down">
    <a href="#gohere">
        <div class="arrow-down"></div>
    </a>
</div>


<div class="stuff">
    <h1 id="gohere">Apply</h1>
    <form>
        <div class="row collapse">
            <div class="large-12 columns">
                <input type="text" placeholder="form">
            </div>
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <input type="text" placeholder="form">
            </div>
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <input type="text" placeholder="form">
            </div>
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <input type="text" placeholder="form">
            </div>
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <input type="text" placeholder="form">
            </div>
        </div>
    </form>
</div>
