@import 'https://fonts.googleapis.com/css?family=Roboto';
html * {
    font-family: 'Roboto', sans-serif;
}
body {
    font-size: 100%;
    color: white;
}
.wrapper {
    margin: 0 auto;
    width: 90%;
}
header {
    text-align: right;
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
}
nav {
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
.content {
    padding: 15px;
    padding-top: 100px;
    max-width: 1040px;
    margin: 0 auto;
    text-align: center;
}
.testwrapper {
    background-attachment: fixed;
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) .125em, transparent 0, transparent .25em);
}
.toprow {
    padding-top: 50px;
}
.botright, .botleft {
    padding: 100px;
    border-top: 1px solid white;
}
.topright, .topleft {
    padding: 100px;
    border-bottom: 1px solid white;
}
.topright, .botright {
    border-left: 1px solid white;
}
.topleft, .botleft {
    border-right: 1px solid white;
}
@media (max-width: 780px) {
    .topleft, .botleft, .topright, .botright {
        border: none;
    }
}
.gridgrej {
    text-align: center;
}
.gridgrej> i {
    display: inline-block;
    width: 100%;
    text-align: center;
}
#go-down, #go-up {
    padding-top: 15px;
    padding-bottom: 15px;
}
#go-down> a, #go-up > a {
    margin: 0 auto;
}
.stuff {
    padding-top: 200px;
    padding-bottom: 800px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
}
#video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
